<html>

<head>
  <title>Results of survey</title>
</head>

<body>
  <div style='border: 3px solid black'>
    <h1>Submitted Info:</h1>
    <p>Name:
      <%= name %>

    </p>
    <p>Dojo Location:
      <%= location %>

    </p>
    <p>Favorite Language:
      <%= language %>
    </p>
    <p>Comment:
      <%= comment %>

    </p>
    <form action='/'>
      <button>Go back</button>
    </form>
  </div>
</body>

</html>